{% extends 'base.html' %}

{% block content %}
    <h1>Donations</h1>

    <!-- <a href="/donations/new">New Donation</a> -->

    <div class='row'>
        {% for donation in donations %}
            <div class='col-md-3'>
                <h2><a href='/donations/{{ donation._id }}'>{{ donation.title }}</a></h2>
                <p>{{ donation.description }}</p>
                <p class="amount">{{ donation.amount }}</p>
                <p class="rating-num"><span class="rating-text">Rating:</span> {{ donation.rating }}/5</p>
            </div>
    {% endfor %}
    </div>
{% endblock %}
